body {
    /* animation: colorchange 1s;
    -webkit-animation: colorchange 1s;
    animation-iteration-count: infinite; */

    background-image: 
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    /* your image */
    url(/images/nigger.jpg);
}

form {
    text-align: center;
}

@keyframes colorchange
{
    0%   {background: red;}
    25%  {background: yellow;}
    50%  {background: blue;}
    75%  {background: green;}
    100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
    0%   {background: red;}
    25%  {background: yellow;}
    50%  {background: blue;}
    75%  {background: green;}
    100% {background: red;}
}